<template>
<div>
    <div class="flex items-center justify-center min-h-screen mx-auto text-auto">
        <div class="text-left bg-white">
            <h3 class="text-2xl text-teal-400 font-bold text-center">Welcome Back</h3>
            <h6 class="text-gray-400">Enter you email and password to sign in</h6>
            <form @submit.prevent="submitFormLogin">
                <div class="mt-4">
                    <div>
                        <span class="text-gray-700">Email</span>
                        <input type="email" placeholder="Email" v-model="fromLogin.email" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-4">
                        <span class="text-gray-700 ">Password</span>
                        <input type="password" placeholder="Password" v-model="fromLogin.password" class="w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-1 focus:ring-blue-600">
                    </div>
                    <div class="mt-2">
                        <label class="switch">
                            <input class="form-check-input" type="checkbox" id="email" value="email">
                            <span class="slider round"></span>
                        </label>
                        <label class="form-check form-check-inline rule-title text-gray-700" for="email">Remember me</label>
                    </div>
                    <div>
                        <button type="submit" class="px-56 py-2 mt-4 border rounded-md text-white bg-teal-400 justify-content:center hover:bg-blue-900">Login</button>
                    </div>
                    <div class="mt-4 flex items-baseline justify-between">
                        <a href="#" class="text-sm">Don't have an account?</a>
                        <a href="#" class="  text-sm text-rose-600 hover:underline text-right">Forgot password?</a>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <p class="footer">@ 2022, Made with ❤️ by VN Cường Gió for a better web</p>
</div>
</template>

<script>
export default {
    name: "login",
    data() {
        return {
            fromLogin: {
                email: '',
                password: '',
            }

        }
    },
    methods: {
        submitFormLogin() {
            let _this = this
            this.$axios.post('/login', this.fromLogin)
                .then(function (res) {
                    if (res && res.data) {
                        const api_token = res.data.data
                        _this.$store.dispatch('setToken', api_token)
                        _this.$toast.success('Welcome back')
                        _this.$router.push('/product/list')
                    }
                })
                .catch((err) => {
                    _this.$toast.error('Incorrect account or password')
                })
        }
    },
};
</script>

<style>
.footer {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, 0);
}

.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #4FD1C5;
}

input:focus+.slider {
    box-shadow: 0 0 1px #4FD1C5;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
</style>
