<template>
<div class="fixed top-0 bottom-0 lg:left-0 p-2 pl-80 text-center overflow-scroll w-[100%] h-[100hv]">
    <h1 class="font-[Poppins] text-4xl text-bold">Forms Create Product</h1>
    <div class="relative mx-auto overflow-x-auto shadow-md sm:rounded-lg">
    <ValidationObserver v-slot="{ handleSubmit }" ref="validateName">
        <form @submit.prevent="handleSubmit(submitForm)" class="w-2/4 mx-auto px-8 py-16">
            <div class="mb-6">
                <ValidationProvider v-slot="{ errors }" rules="required" vid="name" :name="'name'">
                    <label for="name" class="block text-left mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Name</label>
                        <input v-model="formData.name" aria-describedby="priceHelp" id="name" type="text" placeholder="Name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
                    <span class="text-xs text-red-700" id="priceHelp">{{errors[0]}}</span>
                </ValidationProvider>
            </div>
            <div class="mb-6">
                <ValidationProvider v-slot="{ errors }" rules="required" vid="price" :name="'price'">
                    <label for="price" class="block text-left mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Price</label>
                        <input v-model="formData.price" aria-describedby="priceHelp" id="price" type="number" placeholder="Price" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
                    <span class="text-xs text-red-700" id="priceHelp">{{errors[0]}}</span>
                </ValidationProvider>
            </div>
            <div class="mb-6">
                <ValidationProvider v-slot="{ errors }" rules="required" vid="quantity" :name="'quantity'">
                    <label for="quantity" class="block text-left mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Quantity</label>
                        <input v-model="formData.quantity" aria-describedby="priceHelp" id="quantity" type="number" placeholder="Quantity" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
                    <span class="text-xs text-red-700" id="priceHelp">{{errors[0]}}</span>
                </ValidationProvider>
            </div>
            <div class="mb-6">
                <ValidationProvider v-slot="{ errors }" rules="required" vid="category_id" :name="'category_id'">
                    <label for="category" class="block text-left mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Category</label>
                        <select  class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" v-model="formData.category_id" id="grid-state" placeholder="Category">
                            <option v-for="(category, index) in categories" :key="index" :value="category.id">{{ category.name }}</option>
                        </select>
                    <span class="text-xs text-red-700" id="priceHelp">{{errors[0]}}</span>
                </ValidationProvider>
            </div>
             <div class="mb-6">
                <ValidationProvider v-slot="{ errors }" rules="required" vid="image" :name="'image'">
                    <label for="image" class="block text-left mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Image</label>
                        <input v-model="formData.image" aria-describedby="priceHelp" id="image" type="text>" placeholder="Image" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
                    <span class="text-xs text-red-700" id="priceHelp">{{errors[0]}}</span>
                </ValidationProvider>
            </div>
            <div class="mb-6">
                <ValidationProvider v-slot="{ errors }" rules="required" vid="status" :name="'status'">
                    <label for="status" class="block text-left mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Status</label>
                        <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" v-model="formData.status" id="grid-state">
                            <option>is active</option>
                            <option>inactive</option>
                        </select>
                    <span class="text-xs text-red-700" id="priceHelp">{{errors[0]}}</span>
                </ValidationProvider>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </ValidationObserver>
    </div>
</div>

</template>
<script>

export default {
    data() {
        return {
            categories : [],
            formData : {
                name: '',
                price: '',
                category_id: '',
                quantity: '',
                image: '',
                status: '',
            }
       };
    },
     created() {
        this.fetchSomethingCategory()
    },
    methods: {

    fetchSomethingCategory() {
        this.$axios.get('/category/').then( res=>{
            if(res && res.data) {
                console.log(res.data);
                this.categories = res.data.data.data
            }
        })
        .catch((err) => {
            // this.$toast.error('delete failed')
        });

    },

    submitForm() {
        let _this = this
        console.log(_this.formData)
        this.$axios.post('/products/create', _this.formData)
        .then(function (response) {
            _this.$router.push({ path: '/products/list' });
            console.log(this.$router);
        })
        .catch(function (error) {
            console.log(error);
        });
        }
    }
}
</script>
<style lang="">

</style>
