<template>
<div class="fixed top-0 bottom-0 lg:left-0 p-2 px-80 pr-4 mt-12 w-full text-center">
    <h1 class="font-[Poppins] text-4xl text-bold mb-12">List Product</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">STT</th>
                    <th scope="col" class="px-6 py-3">Name</th>
                    <th scope="col" class="px-6 py-3">Category</th>
                    <th scope="col" class="px-6 py-3">Image</th>
                    <th scope="col" class="px-6 py-3">Quantity</th>
                    <th scope="col" class="px-6 py-3">Price</th>
                    <th scope="col" class="px-6 py-3">Status</th>
                    <th scope="col" class="px-6 py-3 text-center">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(product, index) in products" :key="index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th class="px-6 py-4">
                        {{ index + 1 }}
                    </th>
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        {{ product.name }}
                    </th>
                    <td class="px-6 py-4">
                        {{ product.category_id  ? product.category_id.name : "undefined" }}
                    </td>
                    <td class="px-6 py-4">
                        {{ product.image }}
                    </td>
                    <td class="px-6 py-4">
                        {{ product.quantity }}
                    </td>
                    <td class="px-6 py-4">
                        {{ product.price }}
                    </td>
                    <td class="px-6 py-4">
                        {{ product.status }}
                    </td>
                    <td class="px-6 py-4 text-right">
                        <NuxtLink class="font-medium text-blue-600 dark:text-blue-500 hover:underline" :to="`/products/{product}${product.id}`">
                            <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                Edit
                            </button>
                        </NuxtLink>
                        <button @click="deleteUser(product.id)" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>

<script>
export default {
    Name: "listProduct",
    data() {
        return {
            products: [],
        };
    },
    created() {
        this.fetchSomething();
    },
    methods: {
        fetchSomething() {
            this.$axios
                .get("products/")
                .then((res) => {
                    if (res && res.data) {
                        this.products = res.data.data;
                      console.log(this.products);
                    }
                })
                .catch((err) => {
                    // this.$toast.error('delete failed')
                });
        },
        async deleteUser(id) {
            if (confirm("Do you really want to delete?")) {
                await this.$axios
                    .delete(`products/${id}/delete`)
                    .then((res) => {
                        this.$toast.success("successful delete");
                        this.fetchSomething();
                    })
                    .catch((err) => {
                        this.$toast.error("delete failed");
                    });
            }
        },
    },
};
</script>

<style></style>
