<template lang="">
<div class="fixed top-0 bottom-0 lg:left-0 p-2 pl-80 text-center overflow-scroll w-[100%] h-[100hv]">
    <h1 class="font-[Poppins] text-4xl text-bold">Forms Create Product</h1>
    <div class="relative mx-auto overflow-x-auto shadow-md sm:rounded-lg">
    <ValidationObserver v-slot="{ handleSubmit }" ref="validateName">
        <form @submit.prevent="handleSubmit(submitForm)" class="w-2/4 mx-auto px-8 py-16">
            <div class="mb-6">
                <ValidationProvider v-slot="{ errors }" rules="required" vid="name" :name="'name'">
                    <label for="name" class="block text-left mb-2 text-sm font-bold text-gray-900 dark:text-gray-300">Name</label>
                        <input v-model="formData.name" aria-describedby="priceHelp" id="name" type="text" placeholder="Name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" required>
                    <span class="text-xs text-red-700" id="priceHelp">{{errors[0]}}</span>
                </ValidationProvider>
            </div>
            <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
        </form>
    </ValidationObserver>
    </div>
</div>
</template>
<script>
export default {
    data() {
        return {
            formData : {
                name: '',
                status: '',
            }
       };
    },
    methods: {
        submitForm() {
            let _this = this
            this.$axios.post('/category/create', this.formData)
            .then(function (response) {
                console.log(response);
                _this.$router.push({ path: '/category/list' });
                console.log(this.$router);
            })
            .catch(function (error) {
                console.log(error);
            });
        }
    }
}
</script>
<style lang="">

</style>
