<template>
<div class="fixed top-0 bottom-0 lg:left-0 p-2 px-80  pr-4 mt-12 w-full text-center">
    <h1 class="font-[Poppins] text-4xl text-bold mb-12">List Category</h1>
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        STT
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Name
                    </th>
                    <th scope="col" class="px-6 py-3 text-center  ">
                        Active
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(category, index) in categories" :key="index" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 dark:text-white whitespace-nowrap">
                        {{ index +1 }}
                    </th>
                    <td class="px-6 py-4">
                        {{ category.name }}
                    </td>
                    <td class="px-6 py-4 text-center">
                        <NuxtLink class="font-medium text-blue-600 dark:text-blue-500 hover:underline" :to="`/category/{category}${category.id}`">
                            <button class="bg-yellow-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                                Edit
                            </button>
                        </NuxtLink>
                        <button @click="deleteCategory(category.id)" class="bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full">
                            Delete
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>

<script>
export default {
    Name: 'listCategory',
    data() {
        return {
            categories: []
        }
    },
    created() {
        this.fetchSomething()
    },
    methods: {
        fetchSomething() {
            this.$axios.get("category/").
            then(res => {
                    if (res && res.data) {
                        this.categories = res.data.data;
                        console.log(this.categories);
                    }
                })
                .catch((err) => {
                    // this.$toast.error('delete failed')
                });

        },
        async deleteCategory(id) {
            if (confirm("Do you really want to delete?")) {
                await this.$axios.delete(`category/${id}/delete`)
                    .then((res) => {
                        this.$toast.success('successful delete')
                        this.fetchSomething()
                    })
                    .catch((err) => {
                        this.$toast.error('delete failed')
                    });
            }
        }

    }
}
</script>

<style>

</style>
