<template>
<div class="font-[Poppins]">
    <div class="sidebar fixed z-50 top-0 bottom-0 lg:left-0 p-2 w-[300px] overflow-y-auto text-center bg-teal-600">
        <div class="text-gray-100 text-xl">
            <div class="p-2.5 mt-1 flex items-center">
                <button type="button" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-heart" viewBox="0 0 16 16">
                        <path d="M8 6.982C9.664 5.309 13.825 8.236 8 12 2.175 8.236 6.336 5.309 8 6.982Z"></path>
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.707L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.646a.5.5 0 0 0 .708-.707L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"></path>
                    </svg>
                </button>
                <h1 class="font-bold text-gray-200 text-[15px] ml-3">Home</h1>
                <i class="bi bi-x ml-20 cursor-pointer lg:hidden"></i>
            </div>
            <hr class="my-2 text-gray-600">
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md -px-4 duration-300 cursor-pointer bg-bray-700 text-white" @click="dropdown()">
            <i class="bi bi-arrow-through-heart-in-left"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-card-checklist" viewBox="0 0 16 16">
                <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"></path>
                <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"></path>
            </svg>
            <span class="text-[15px] ml-4 text-gray-200">Product</span>
            <span class="text-sm rounded-180" id="arrow">
                <i class="bi bi-arrow-down-circle"></i>
            </span>
        </div>
        <div class="text-left text-sm font-thin mt-2 w-4/5 mx-auto text-gray-200" id="submenu">
            <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">
                <NuxtLink class="block" to="/product/list">List</NuxtLink>
            </h1>
            <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">
                <NuxtLink class="block" :to="`/product/create`">Create</NuxtLink>
            </h1>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md -px-4 duration-300 cursor-pointer bg-bray-700 text-white" @click="dropdown1()">
            <i class="bi bi-boxes-in-left"></i>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
                <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3z"></path>
            </svg>
            <span class="text-[15px] ml-4 text-gray-200">Category</span>
            <span class="text-sm rounded-180" id="arrow-1">
                <i class="bi bi-arrow-down-circle"></i>
            </span>
        </div>

        <div class="text-left text-sm font-thin mt-2 w-4/5 mx-auto text-gray-200" id="submenu-1">
            <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">
                <NuxtLink class="block" to="/category/list">List</NuxtLink>
            </h1>
            <h1 class="cursor-pointer p-2 hover:bg-gray-700 rounded-md mt-1">
                <NuxtLink class="block" :to="`/category/create`">Create</NuxtLink>
            </h1>
        </div>
        <div class="p-2.5 mt-3 flex items-center rounded-md -px-4 duration-300 cursor-pointer bg-bray-700 text-white">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"></path>
                <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"></path>
            </svg>
            <span class="text-[15px] ml-4 text-gray-200" @click="logout">Logout</span>
        </div>
    </div>
    <Nuxt />
</div>
</template>

<script>
export default {
    data() {
        return {}
    },
    methods: {
        dropdown() {
            document.querySelector('#submenu').classList.toggle('hidden');
            document.querySelector('#arrow').classList.toggle('rotate-0');

        },
        dropdown1() {
            document.querySelector('#submenu-1').classList.toggle('hidden');
            document.querySelector('#arrow-1').classList.toggle('rotate-0');
        },

        logout() {
            this.$axios.post('/logout')
                .then(res => {
                    this.$store.dispatch('logout')
                    this.$toast.success('logout success')
                    this.$router.push('/logout')
                })
                .catch((err) => {
                    this.$toast.err('logout failed')
                })
        }
    }
}
</script>
